@font-face {
  font-family: 'Medwise-Font';
  src: url('fonts/Geist-latin.Dg_dQHbK.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Medwise-Font';
  scrollbar-width: none;
  -webkit-tap-highlight-color: transparent;
}

:root[data-theme="dark"] {
  --bg-color-dark: /*#18191c*/#121212;        
  --bg-color-light: /*#202225*/#232323;       
  --text-color-white: #dcddde;   
  --text-color-offwhite: #b9bbbe; 
  --primary-color: #7289da;        
  /*--border-color: #202225;*/
  --border-color: /*#2f3236*/#2F2F2F;       
  --question-hover: #40444b;
}

:root[data-theme="light"] {
  --bg-color-dark:/*#ffffff*/ #F8F8F8;
  --bg-color-light:/*#F8F8F8*/ #ffffff;
  --text-color-white: #0f172b;
  --text-color-offwhite: #62748e;
  --primary-color: #525252;
  --border-color: #e2e8f0;
  --question-hover: #f5f5f5;
}

@media (max-width: 560px) {
  html{
    font-size: 14px;
  }

  .navbar {
    max-height: 60px !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }

  .extras{
    grid-template-columns: repeat(1, 1fr) !important;
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    padding-top: 1rem;
    width: 100%;
  }

  .menu-btn {
    display: block !important;
    color: var(--primary-color) !important;
  }

  .main{
    height: calc(100% - 60px) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    gap: 0 !important;
    background-color: var(--bg-color-dark) !important;
  }

  .main-home{
    height: calc(100% - 60px) !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    gap: 0 !important;
    background-color: var(--bg-color-dark) !important;
    flex-direction: column-reverse !important;
  }

  .error-img img{
    width: 50% !important;
  }

  .sidebar {
    transform: translateX(-110%);
    width: 70% !important;
    padding: 0 !important;
    position: fixed !important;
    left: 0 !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-top: none !important;
  }

  .questions{
    height: 100% !important;
    width: 100% !important;
  }

  .sidebar.open {
    transform: translateX(0)
  }

  #pre-clinical{
    margin-left: 1rem !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
  }

  .sidebar-homes{
    border-radius: 0 !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px !important;
    width: 100% !important;
    padding-top: 0 !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    border-right: 1px solid var(--border-color) !important;
    overflow-y: unset !important;
    position: fixed !important;
    z-index: 14 !important;
    bottom: 0 !important;
  }

  .sidebar-home{
    font-size: 0 !important;
    aspect-ratio: 1/1;
    justify-content: center;
  }

  .active-home{
    border: 2px solid #7289da;
    color: var(--text-color-white) !important;
    background-color: #7289da17 !important;
    box-shadow: unset !important;
  }

  .subjects{
    width: 100% !important;
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
    padding: 1 !important;
    background-color: var(--bg-color-light) !important;
    border: none !important;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
  }

  .topics{
    grid-template-columns: 1fr !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    border-top-left-radius: 2rem !important;
    border-top-right-radius: 2rem !important;
  }

  .subject{
    border-radius: 0 !important;
    /*margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;*/
    border-width: 0 !important;
    box-shadow: 0 0px 0px var(--border-color) !important;
    border-bottom: 1px solid var(--border-color) !important;
    background-color: var(--bg-color-light) !important;
  }

  .subject-skeleton{
    border-radius: 1rem !important;
    margin: 1rem !important;
    border: 1px solid var(--border-color);
    margin-bottom: 0 !important;
    height: 140px !important;
  }

  #subject-pyq{
    margin-bottom: 1rem !important;
  }

  .btn-container {
    grid-template-columns: repeat(1,1fr) !important;
    gap: 0.5rem !important;
  }

  .btn{
    background-color: var(--bg-color-light) !important;
    border-radius: 3rem !important;
    padding: 0.5rem !important;
  }

  .topic{
    border-radius: 0 !important;
    border: 1px solid var(--border-color);
  }

  .questions{
    border-radius: 0 !important;
    border: none !important;
  }

  .start-btn{
    border-radius: 3rem !important;
    padding: 1rem !important;
    left: 0 !important;
    margin: 1rem !important;
    /*background-color: #0097ff !important;*/
  }

  .start-btn:hover{
    opacity: 1 !important;
  }

  .sidebar{
    border-radius: 0 !important;
  }

  .main-mcq{
    width: 100% !important;
    border-radius: 0 !important;
    border: none !important;
  }

  .mcq-options{
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .mcq-nav{
    justify-content: space-evenly !important;
    width: 90% !important;
    align-self: center !important;
    gap: 0.5rem !important;
    padding: 0.5rem !important;
    background-color: var(--bg-color-dark) !important;
  }

  .button{
    padding: 0.5rem !important;
    width: 30% !important;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .submit{
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .submit-btn{
    display: none !important;
  }

  .counter{
    top: 0.5rem !important;
    right: 0.5rem !important;
  }
}

.container{
  height: 100vh;
  width: 100vw;
}

.loader {
  width: 2rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: 0.25rem solid var(--border-color);
  border-top-color: var(--primary-color);
  animation: spin 1.2s ease-in-out infinite;
  margin: auto;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.navbar{
  height: auto;
  width: 100%;
  background-color: var(--bg-color-dark);
  padding: 1rem;
  position: sticky;
  display: flex;
  align-items: center;
  gap: 5px;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.navbar a{
  text-decoration: none;
  display: flex;
  align-items: center;
}

#logo{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color-white);
}

.right-nav{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-left: auto;
}

.navbar-timer{
  display: none;
  color: var(--text-color-white);
}

.timer{
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color-white);
}

.theme-btn {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-color);
  width: 2rem;
  border: none;
  border-radius: 50%;
  color: var(--text-color-white);
  aspect-ratio: 1 / 1;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-btn:hover {
  background: var(--question-hover);
  border: 1px solid var(--border-color);
}

.profile{
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 3rem;
}

.profile img{
  border-radius: 50%;
  width: 2.15rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--border-color);
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: #7289da17;
  color: #7289da;
  padding: 0.5rem 1rem;
  border-radius: 3rem;
  cursor: pointer;
}

.login:hover{
  color: var(--bg-color-dark);
  background-color: #7289da;
  transition: all 0.3s ease;
}

.login img{
  width: 1rem;
}

#previous-window{
  font-size: larger;
  color: var(--primary-color);
  padding: 0.25rem;
  border: 1px solid var(--border-color);
  cursor: pointer; 
  margin-right: 0.5rem;
  background-color: var(--bg-color-dark);
  border-radius: 0.25rem;
}

#previous-window:hover{
  background-color: var(--bg-color-dark);
}

.main{
  height: 91%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--bg-color-dark);
  padding: 1.5rem;
  padding-top: 0;
  gap: 1rem;
}

.main-home{
  height: 91%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  background-color: var(--bg-color-dark);
  padding: 1.5rem;
  padding-top: 0;
  gap: 1rem;
}

.error-img{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-bottom: 3rem;
}

.error-img img{
  width: 20%;
}

.error-img p{
  color: var(--primary-color);
}

.extras{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
}

.extra {
  background-color: var(--bg-color-dark);
  color: var(--text-color-white);
  padding: 0.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  background: 
  /*linear-gradient(315deg, rgba(248,250,252,1) 0%, rgba(219,234,254,0.7) 30%, rgba(165,180,252,0.5) 60%, rgba(129,140,248,0.6) 100%),*/
  linear-gradient(315deg, var(--border-color) 30%, var(--bg-color-dark) 70%),
  radial-gradient(circle at 20% 30%, rgba(255,255,255,0.6) 0%, transparent 40%),
  radial-gradient(circle at 80% 70%, rgba(199,210,254,0.4) 0%, transparent 50%),
  radial-gradient(circle at 40% 80%, rgba(224,231,255,0.3) 0%, transparent 60%);
  border: 1px solid var(--border-color);
  cursor: pointer;
}

.extra:hover{
  border: 1px solid var(--border-color);
}

.extra img{
  width: 1.5rem;
  margin-right: 1rem;
}

#pre-clinical{
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--text-color-white);
  margin-left: 1rem;
}

.sidebar-homes{
  height: 100%;
  width: 20%;
  background-color: var(--bg-color-dark);
  overflow-y: auto;
  padding: 1rem;
  padding-top: 0;
}

.sidebar-home{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  color: var(--text-color-white);
  gap: 1em;
  border-radius: 0.5rem;
  margin-top: 1rem;
  transition: all 0.25s ease;
}

.sidebar-home i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  max-width: 1.1rem;
}

.sidebar-home img{
  width: 1.1rem;
}

.sidebar-homes a{
  text-decoration: none;
}

.sidebar-home:hover{
  background-color: var(--question-hover);
  font-size: 1.3rem;
  box-shadow: 0 6px 18px var(--border-color);
  color: var(--text-color-white);
}

.active-home{
  color: var(--bg-color-dark);
  background-color: var(--text-color-white);
  box-shadow: 0 6px 18px var(--border-color);
}

.subjects{
  width: 80%;
  background-color: var(--bg-color-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  overflow-y: auto;
  padding: 1rem;
}

.subject{
  background-color: var(--bg-color-light);
  color: var(--text-color-white);
  /*border: 1px solid var(--text-color-offwhite);*/
  padding: 1rem;
  position: relative;
  box-shadow: 0 6px 18px var(--border-color);
  border-radius: 0.25rem;
}

.subject:nth-of-type(1){
  border-top-left-radius: 2rem;
}

.subject:nth-of-type(2){
  border-top-right-radius: 2rem;
}

.counter{
  display: flex;
  position: absolute;
  background-color: #7289da17;
  color: #7289da;
  justify-content: center;
  font-size: 0.9rem;
  z-index: 10;
  top: 1rem;
  right: 1rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

#subject-name{
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

#subject-pyq{
  color: var(--text-color-offwhite);
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

.btn-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}

.btn {
  display: block;
  padding: 0.6rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  background-color: var(--bg-color-light);
  font-weight: 500;
}

.btn :hover{
  background-color: var(--question-hover);
}

.btn-green{
  border: 1px solid #A4FFAF;
  transition: all 0.3s ease;
}

.btn-red{
  border: 1px solid #ffaaa4;
  transition: all 0.3s ease;
}

.btn-green:hover{
  background-color: #a4ffaf17;
  color: var(--text-color-white);
}

.btn-red:hover{
  background-color: #ffaaa417;
  color: var(--text-color-white);
}

 /* --card-bg: #232323;
  --card-border: #2F2F2F;
  --icon-green: #A4FFAF;
  --background-dark: #121212;*/

.subject-skeleton {
  height: auto;
  overflow: hidden;
  pointer-events: none;
  background-color: var(--bg-color-dark);
}

/* shimmer layer */
.subject-skeleton::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    110deg,
    transparent 30%,
    rgba(255, 255, 255, 0.08) 50%,
    transparent 70%
  );
  transform: translateX(-100%);
  animation: subject-shimmer 1.4s infinite;
}

@keyframes subject-shimmer {
  100% {
    transform: translateX(100%);
  }
}

/*topics*/

.topics{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.topics a {
  text-decoration: none;
}

.topic {
  background-color: var(--bg-color-dark);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
  color: white;
}

.topic-content {
  padding: 16px;
}

.topic h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 6px;
  color: var(--text-color-white);
  margin-left: 0.2rem;
}

.topic-content span {
  color: var(--primary-color);
  border-radius: 5px;
  font-size: 0.9rem;
  background-color: #7289da17;
  padding: 0.2rem 0.4rem;
}

.topic button {
  width: 100%;
  background-color: var(--border-color);
  color: var(--text-color-white);
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

/*Question list*/

.sidebar{
  height: 100%;
  width: 20%;
  background-color: var(--bg-color-dark);
  overflow-y: auto;
  transition: all 0.25s ease;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  z-index: 20;
}

.menu-btn {
  font-size: 1.5rem;
  color: var(--primary-color);
  background: none;
  padding: 0.2rem;
  border: 1px solid var(--border-color);
  border: none;
  cursor: pointer;
  display: none; 
  margin-right: 0.5rem;
}

.subject-header{
  font-size: 1.25rem;       
  padding-left: 1rem;       
  padding-right: 1rem;      
  padding-top: 0.625rem;   
  padding-bottom: 0.625rem;
  color: var(--primary-color);
  border-bottom: 1px solid var(--border-color);
  margin: 0;
  font-weight: 600;
  line-height: 1.4;
}

.subject-topics{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}

.subject-topic{
  display: inline-block;
  padding: 0.25rem 1rem; /* py-1 px-4 */
  border-radius: 0.5rem; /* lg:rounded-lg */
  text-decoration: none;
  color: var(--text-color-white);
  transition: all 0.1s ease;
}

.subject-topic.active-topic {
  /*color: #00c853;
  background-color: #00c85317;
  border: 1px solid #00c853;*/
  /*color: #ff8163;
  background-color: #ff826317;
  border: 1px solid #ff8163;*/
  color: var(--text-color-white);
  /*background-color: var(--question-hover);*/
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background: 
  linear-gradient(315deg, rgba(248,250,252,1) 0%, rgba(219,234,254,0.7) 30%, rgba(165,180,252,0.5) 60%, rgba(129,140,248,0.6) 100%),
  radial-gradient(circle at 20% 30%, rgba(255,255,255,0.6) 0%, transparent 40%),
  radial-gradient(circle at 80% 70%, rgba(199,210,254,0.4) 0%, transparent 50%),
  radial-gradient(circle at 40% 80%, rgba(224,231,255,0.3) 0%, transparent 60%);
}

.subject-topic:hover {
  /*background-color: rgba(59, 130, 246, 0.2); /* blue-500 at 20% opacity */
  /*color: #3b82f6; /* blue-500 */
  /*color: #ff8163;
  background-color: #ff826317;*/
  color: var(--text-color-white);
  background-color: var(--border-color);
}

.questions{
  height: 100%;
  width: 80%;
  background-color: var(--bg-color-dark);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.questions a {
  text-decoration: none;
}

.question{
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  color: var(--text-color-white);
  height: fit-content;
  transition: all 0.25s ease;
}

.attempted {
  opacity: 0.4;
  pointer-events: auto;
  transition: opacity 0.3s;
}

.question:hover{
  /*background-color: #2b2f3a;*/
  background-color: var(--question-hover);
}

.index{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  background-color: #7289da17;
  border: 1px solid #7289da;
  border-radius: 1rem;
  color: var(--text-color-white);
  aspect-ratio: 1 / 1;
  font-size: 0.75rem;
  margin: 0.5rem;
  align-self: flex-start;
}

.question-line{
  display: flex;
  align-items: center;
  padding: 0.5rem;
  height: fit-content;
  font-size: 1rem;
}

.start-btn{
  padding: 1rem 3rem;
  /*background-color: #00af50 #0097ff;*/
  background-color: var(--text-color-white);
  color: var(--bg-color-light);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 10;
  margin: 2rem;
  border-radius: 3rem;
  cursor: pointer;
}

.start-btn:hover{
  opacity: 0.9;
}

/* mcq section */

.mcq-nos{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.mcq-nos a {
  text-decoration: none;
}

.mcq-no{
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  border-radius: 0.5rem;
  min-width: 1rem;
  max-width: 2.5rem;
  color: #7289da;
  background-color: #7289da17;
  transition: all 0.2s ease;
}

.mcq-no:hover{
  cursor: pointer;
}

.active-no{
  border: 1px solid #7289da;
  background: none;
}

.main-mcq{
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background-color: var(--bg-color-dark);
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
}

.mcq-question{
  width: 100%;
  display: flex;
  color: var(--text-color-white);
  height: fit-content;
  transition: all 0.25s ease;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

.mcq-index{
  height: 1.5rem;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7289da;
  background-color: var(--bg-color-dark);
  border: 1px solid #7289da;
  border-radius: 50%;
  margin: 0.5rem;
}

.mcq-options{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.mcq-option{
  display: flex;
  align-items: center;
  padding: 0.75rem;
  color: var(--text-color-white);
  background-color: var(--bg-color-light);
  border-radius: 0.5rem;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid var(--border-color);
  position: relative;
  transition: all 0.3s ease;
}

.mcq-state{
  display: none;
  position: absolute;
  background-color: var(--bg-color-dark);
  color: var(--text-color-white);
  justify-content: center;
  font-size: 0.9rem;
  z-index: 10;
  top: -30%;
  right: 10px;
  color: inherit;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

.option-no{
  height: 1.5rem;
  width: 1.5rem;
  aspect-ratio: 1 / 1;
  background-color: var(--bg-color-dark);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--text-color-offwhite);
}

.selected{
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.correct{
  color: #2ECC71;
  border-color: #2ECC71;
  background-color: #2ecc7017;
}

.wrong{
  color: #E74C3C;
  border-color: #E74C3C;
  background-color: #e74d3c17;
}

.explanation{
  align-self: center;
  background-color: var(--bg-color-dark);
  border: 1px solid var(--border-color);
  width: 100%;
  height: fit-content;
  color: var(--text-color-white);
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition: all 0.3s ease;
}

.ai-explanation{
  display: flex;
  align-items: center;
  color: var(--text-color-white);
  gap: 0.5rem;
  margin-top: 0.5rem;
  transition: all 0.3s ease;
}

.ai-explanation a {
  padding: 0.25rem 0.5rem;
  background-color: var(--bg-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.ai-explanation a img{
  height: 1rem;
}

.ai-explanation a:hover{
  background-color: var(--bg-color-dark);
}

.mcq-nav{
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;
  position: relative;
}

.button{
  padding: 0.75rem 1.5rem;
  width: fit-content;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.1s ease;
}

.previous{
  color: var(--text-color-white);
  border: 1px solid var(--text-color-white);
  background: none;
}

.previous:hover{
  opacity: 0.8;
}

.submit{
  display: none;
  color: var(--bg-color-dark);
  background-color: var(--text-color-white);
}

.submit-btn{
  color: var(--bg-color-dark);
  background-color: var(--text-color-white);
  padding: 0.75rem 2rem;
  width: fit-content;
  align-self: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.1s ease;
}

.next{
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  background: none;
}

.next:hover{
  opacity: 0.8;
}

.active{
  background-color: #7289da;
  color: #dcddde;
}