:root[data-theme="dark"] {
  --bg-color-dark: /*#18191c*/#121212;        
  --bg-color-light: /*#202225*/#232323;       
  --text-color-white: #dcddde;   
  --text-color-offwhite: #b9bbbe; 
  --primary-color: #7289da;        
  /*--border-color: #202225;*/
  --border-color: /*#2f3236*/#2F2F2F;       
  --question-hover: #40444b;
}

:root[data-theme="light"] {
  --bg-color-dark:#ffffff;
  --bg-color-light:#f9fafb;
  --text-color-white: #1f2937;
  --text-color-offwhite: #6b7280;
  --primary-color: #2563eb;
  --border-color: #e5e7eb;
  --question-hover: #f5f5f5;
}

@media (max-width: 560px) {
  .profile-page{
    width: 100% !important;
    grid-template-columns: 1fr !important;
    gap: 1rem !important;
    padding: 1 !important;
    background-color: var(--bg-color-light) !important;
    border: none !important;
    border-radius: 0 !important;
  }
}

.profile-page{
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-light);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  overflow-y: auto;
  padding: 1rem;
}

.user-section{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    border-radius: 2rem;
}

.user-section img{
    width: 30%;
    border-radius: 50%;
    border: 5px solid var(--border-color);
}

.user-info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border: 2px solid var(--border-color);
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    color: var(--text-color-white);
    gap: 1rem;
    font-size: 0.75rem;
}

.user-info div {
    display: flex;
    align-items: center;
    gap: 1rem;
}